<%= form_for @profile ? @profile : @profile = Profile.new do |f| %>
  <%= render 'shared/error', :obj => @user %>

  <div class="field">
    <%= f.label :email %><br />
    <%= current_user.email %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
