<%= form_for @profile ? @profile : @profile = Profile.new do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @user %>

  <div class="field">
    E-mail<br />
    <%= current_user.email %>
  </div>
  <div class="field">
    姓名<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    学校<br />
    <%= f.text_field :school %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
