<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Mobile:</b>
  <%= @profile.mobile %>
</p>

<p>
  <b>Qq:</b>
  <%= @profile.qq %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Number:</b>
  <%= @profile.number %>
</p>

<p>
  <b>School:</b>
  <%= @profile.school %>
</p>

<p>
  <b>Faculty:</b>
  <%= @profile.faculty %>
</p>

<p>
  <b>Profession:</b>
  <%= @profile.profession %>
</p>

<p>
  <b>Resume:</b>
  <%= @profile.resume %>
</p>

