<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @article, :url => @url do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @article %>

  <div class="field">
    标题<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    作者<br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    分类<br />
    <%= f.select :category, {'动态' => 1, '公告' => 2, '预告' => 3}, {:include_blank => false} %>
  </div>
  <div class="field">
    正文<br />
    <%= cktext_area_tag("article[body]", @article.body, :input_html => {:cols => 10, :rows => 20}) %>
  </div>
  <div class="field">
    是否可见<br />
    <%= f.check_box :state, :checked => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
