<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @article, :url => @url do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @article %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, {'新闻' => 'news', '公告' => 'notice', '预告' => 'preview'}, {:include_blank => false} %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= cktext_area_tag("article[body]", @article.body, :input_html => {:cols => 10, :rows => 20}) %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.check_box :state, :checked => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
