<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @article, :url => group_articles_path do |f| %>
  <%= render 'shared/error', :obj => @article %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= cktext_area_tag("body", "Ckeditor", :input_html => {:cols => 10, :rows => 20}) %>
  </div>
  <div class="field">
    <%= f.label :allow_comment %><br />
    <%= f.check_box :allow_comment %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
