<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<%= link_to 'Back', group_articles_path %>
