<%= form_for(@group) do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @group %>

  <div class="field">
    口号<br />
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    简介<br />
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    主题<br />
    <%= f.select :theme, {:default => 'default', :dirtylicious => 'dirtylicious', :test => 'test'}, {:include_blank => false} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>