<%= form_for(@group) do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @group %>

  <div class="field">
    <%= f.label :slogan %><br />
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction %>
  </div>
  <div class="field">
    <%= f.label :theme %><br />
    <%= f.select :theme, {:default => 'default', :test => 'test'}, {:include_blank => false} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>