<div><%= @group.proclaim %></div>
<div>
  <% 1.upto(2) do %>
    <% @article = @articles.shift %>
    <div>
      <h4><%= link_to @article.title, group_article_path(@group.permalink, @article.id) %></h4>
      <span>[<%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %>]<%= @article.author %></span>
      <p>
        <%= raw @article.body %>
      </p>
    </div>
  <% end %>
  <div>
    <% @articles.each do |article| %>
      <div>
        <h4><%= link_to "[#{article.created_at.strftime('%Y-%m-%d %H:%M:%S')}]#{article.title}", group_article_path(@group.permalink, article.id) %></h4>
      </div>
    <% end %>
  </div>
</div>