<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>School:</b>
  <%= @group.school %>
</p>

<p>
  <b>Slogan:</b>
  <%= @group.slogan %>
</p>

<p>
  <b>Proclaim:</b>
  <%= @group.proclaim %>
</p>

<p>
  <b>Introduction:</b>
  <%= @group.introduction %>
</p>

<%= render 'pages/pages', :pages => @pages %>

<div>
  <p>Tasks:</p>
  <ul>
    <li><%= link_to 'Show articles', group_articles_path(@group.permalink) %></li>
    <li><%= link_to 'Show pages', group_pages_path(@group.permalink) %></li>
  </ul>
</div>
