<%= form_for(@user) do |f| %>
  <%= render 'shared/error', :obj => @user %>

  <div class="field">
    E-mail<br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    密码<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    再次输入密码<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
