<h1>Listing articles</h1>

<table>
  <tr>
    <th>标题</th>
    <th>作者</th>
    <th>是否显示？</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.author %></td>
    <td><%= article.state?'是':'否' %></td>
    <td><%= link_to '查看', group_article_path(params[:permalink],article) %></td>
    <td><%= link_to '编辑', edit_group_article_path(params[:permalink],article) %></td>
    <td><%= link_to '删除', group_article_path(params[:permalink],article), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @articles %>

<br />

<%= link_to '新建文章', new_group_article_path(params[:permalink]) %><br/>
<%= link_to '社团管理首页', manage_groups_url(params[:permalink]) %>
