<h1><%= @group.school %><%= @group.name %></h1>
<%= render 'groups/manage'%>
<div>
  <p>Tasks:</p>
  <ul>
    <li><%= link_to 'Go to homepage', group_path(@group.permalink) %></li>
    <li><%= link_to 'Manage Articles', manage_articles_groups_url %></li>
    <li><%= link_to 'Manage Pages', manage_pages_groups_url %></li>
  </ul>
</div>
