<% if @articles.size > 0 %>
    <% 0.upto(1) do %>
        <% break if @articles.size == 0 %>
        <% @article = @articles.shift %>
        <div class="atomentry" id="page-<%= @article.id %>">
          <h2 class="title"><%= link_to @article.title, group_article_path(@group.permalink, @article.id) %></h2>
          <div class="author">
            <cite><%= @article.author %></cite>
            <abbr class="published" title="<%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"><%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></abbr>
          </div>
          <div class="content">
            <%= raw @article.body %>
          </div>
        </div>
        <% end %>
        <% @articles.each do |article| %>
          <div class="atomentry" id="page-<%= article.id %>">
            <h2 class="title"><%= link_to article.title, group_article_path(@group.permalink, article.id) %></h2>
            <div class="author">
             <cite><%= article.author %></cite>
             <abbr class="published" title="<%= article.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"><%= article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></abbr>
           </div>
          </div>
    <% end %>
    <div id="paginate">
        <%= will_paginate @articles %>
    </div>
<% else %>
    <p>There is no article yet.</p>
<% end %>

