<div class="atomentry" id="page-<%= @article.id %>">
  <h2 class="title"><%= @article.title %></h2>
   <div class="author">
    <cite><%= @article.author %></cite>
    <abbr class="published" title="<%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"><%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></abbr>
  </div>
  <div class="content">
    <%= raw @article.body %>
  </div>
</div>
