<div>
  <p><%= link_to '查看所有社团', groups_path %></p>

  <% if !current_user %>
    <p><%= render 'groups/search' %></p>
    <p>想建立一个属于自己社团的门户么？ <%= link_to '现在注册！', register_path %></p>
  <% else %>
    <h2>我的社团:</h2>
      <ul>
        <% @groups.each do |p, g| %>
          <li><%= link_to p.name, group_path(p.permalink) %> | <%= link_to '管理',manage_groups_url(p.permalink) if g.to_i > 1 %></li>
        <% end %>
      </ul>
    <h2>Task:</h2>
      <ul>
        <li><%= link_to '申请我的社团门户', apply_path %></li>
      </ul>
  <% end %>
</div>