<div>
  <p><%= link_to 'Show all groups', groups_path %></p>

  <% if !current_user %>
    <p><%= render 'groups/search' %></p>
    <p>Haven't a account yet? <%= link_to 'Sign up now!', register_path %></p>
  <% else %>
    <h2>My Groups:</h2>
      <ul>
        <% @groups.each do |p, g| %>
          <li><%= link_to p.name, group_path(p.permalink) %> | <%= link_to 'Manage',manage_groups_url(p.permalink) if g.to_i > 1 %></li>
        <% end %>
      </ul>
    <h2>Task:</h2>
      <ul>
        <li><%= link_to 'Apply a portal', apply_path %></li>
        <li><%= link_to 'Groups', groups_path %></li>
      </ul>
    <h2>Debug:</h2>
      <p><%= debug current_user %></p>
  <% end %>
</div>