<div>
  <h1><%= link_to 'Show all groups', groups_path %></h1>

  <% if !current_user %>
    <p><%= render 'user_sessions/form' %></p>
    <p>Haven't a account yet? <%= link_to 'Regist Now!', register_path %></p>
  <% else %>
    <h2>My Groups:</h2>
      <ul>
        <% @groups.each do |p, g| %>
          <li><%= link_to g.name, group_path(g.permalink) %> | <%= link_to 'Manage',manage_groups_url(g.permalink) if p.to_i > 1 %></li>
        <% end %>
      </ul>
    <h2>Task:</h2>
      <ul>
        <li><%= link_to 'Apply a portal', apply_path %></li>
        <li><%= link_to 'Groups', groups_path %></li>
      </ul>
    <h2>Debug:</h2>
      <p><%= debug current_user %></p>
  <% end %>
</div>