<div>
  <% if !current_user %>
    <p><%= render 'user_sessions/form' %></p>
    <p>Haven't a account yet? <%= link_to 'Regist Now!', register_path %></p>
  <% else %>
    <h2>Task:</h2>
      <ul>
        <li><%= link_to 'Change password', password_path %></li>
        <li><%= link_to 'Profile', my_profile_path %></li>
      </ul>
    <h2>Debug:</h2>
      <p><%= debug current_user %></p>
  <% end %>
</div>