<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @page, :url => @url do |f| %>
  <p id="notice"><%= notice %></p>
  <%= render 'shared/error', :obj => @page %>

  <div class="field">
    标题<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    分类<br />
    <%= f.select :category, {'社团介绍' => 10,'组织介绍' => 11, '其他' => 12}, {:include_blank => false} %>
  </div>
  <div class="field">
    正文<br />
    <%= cktext_area_tag("page[body]", @page.body, :input_html => {:cols => 10, :rows => 20}) %>
  </div>
  <div class="field">
    是否显示<br />
    <%= f.check_box :state, :checked => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
