<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Author:</b>
  <%= @page.author %>
</p>

<p>
  <b>Body:</b>
  <%= @page.body %>
</p>

<%= link_to 'Back', group_pages_path %>
