<%= form_for @user_session ? @user_session : @user_session = UserSession.new, :url => login_path do |f| %>
  <%= render 'shared/error', :obj => @user_session %>

  <div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
  </div>

  <div class="field">
	<%= f.label :password%>
	<%= f.password_field :password %>
  </div>

  <div class="actions">
	<%= f.submit  %>
  </div>

<% end %>