<div style="background-color:#eeeeee;">
  <% if current_user %>
    <%= current_user[:email] %> |
    <%= link_to '注销', logout_path %> |
    <%= link_to '个人资料', my_profile_path %> |
    <%= link_to '修改密码', password_path %> |
  <% else %>
    <%= link_to '登录', login_path %> |
    <%= link_to '注册', register_path %> |
  <% end %>
  <%= link_to '首页', root_path %>
</div>