<div>
  <p id="notice"><%= notice %></p>
  <%= form_tag group_members_path(params[:permalink]), :method => :post %>
  <div class="field">
    E-mail<br />
    <%= email_field_tag "[member][email]", nil, :id => 'email' %>
  </div>
  <div class="field">
    权限<br />
    <%= select_tag "[member][authority]",
                             "<option value='0'>等待审核</option><option value='1'>成员</option><option value='2'>编辑</option><option value='3'>管理员</option>".html_safe,
                             {:include_blank => false, :id => 'authority'} %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
</div>